<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Flask Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Welcome to My Sample Flask Page</h1>
        <button id="colorButton">Change Background Color</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <p>
        Hey This is Feat-2
        <p>This is the first paragraph. It provides some information or context to the content that follows.</p>

        <p>This is the second paragraph. It can continue the discussion or provide additional details.</p>

        <p>This is the Third paragraph. Paragraph tags are often used to group text into readable blocks.</p>

        <p>This is the Fourth paragraph. Paragraph tags are often used to group text into readable blocks.</p>


    </p>
</body>
</html>

